<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Integrador___Biblioteca.Properties.Settings.Integrador_Libreria_Conexion"
            connectionString="Data Source=LENOVO-LEGION-5;Initial Catalog=Integrador-Libreria;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>